# Code Owners

# Default code owner for the entire repo
* @myselfshravan

# Documentation
*.md @myselfshravan

# Python files
*.py @myselfshravan

# GitHub workflows
.github/workflows/* @myselfshravan
